/********************************************************************************
Purpose: Simulation program to mimic and guage Oracle FCCM customer risk scoring
         This code is based on a discussion with Amanah and Abhay on Oct 30, 2017
		 where the team has decided to filter for active customers and active 
		 accounts only.
Author : Sam Samod
Update : Oct 30, 2017

********************************************************************************/

DROP TABLE T_KYC_RISK_SCORE;
DROP TABLE #ACCOUNTS;
-- ALTER TABLE T_DOMAIN_VALUE ALTER COLUMN DOMAIN_VALUE_DESC VARCHAR(255)

CREATE TABLE T_KYC_RISK_SCORE (
   CUSTOMER_ID           VARCHAR(32) PRIMARY KEY,
   CUSTOMER_NAME	     VARCHAR(1000),
   CUSTOMER_TYPE_CODE	 VARCHAR(20),
   PRIME_BRANCH_ID       VARCHAR(32),
   CUSTOMER_STATUS_CODE  VARCHAR(10),

   -- Final output
   KYC_RISK_SCORE        SMALLINT, 
   KYC_RISK_RATING       VARCHAR(1),
   P1_RISK               SMALLINT,
   P2_RISK               SMALLINT,
   P3_RISK               SMALLINT,
   P4_RISK               SMALLINT,
   P5_RISK               SMALLINT,
   C1_RISK               SMALLINT,
   C2_RISK               SMALLINT,
   C3_RISK               SMALLINT,
   C4_RISK               SMALLINT,
 
   -- Risk parameters
   NATIONALITY_CODE	         VARCHAR(3),
   COUNTRY_OF_RESIDENCE	     VARCHAR(3),
   OCCUPATION	             VARCHAR(50),
   FCCM_OCCUPATION	         VARCHAR(50),
   BUSINESS_TYPE	         VARCHAR(100),
   FCCM_INDUSTRY             VARCHAR(100),
   INCORPORATION_DATE        DATE,
   CORP_AGE_MTH              INT, -- Corporate age in months
   ACQUISITION_DATE	         DATE,
   DATE_OPENED	             DATE,
   LEN_OF_REL_MTH            INT, -- Length of relationship in months
   PRODUCT_SOURCE_TYPE_CODE	 VARCHAR(20), -- SHOW "MULTIPLE" IF THERE ARE MORE THAN ONE ACCOUNT TYPES
   FCCM_ACCT_TYPE            VARCHAR(20), -- SHOW "MULTIPLE" IF THERE ARE MORE THAN ONE ACCOUNT TYPES

   -- Set default score to 70 for all risk parameters
   P1_CITIZENSHIP_RISK            SMALLINT DEFAULT(70),
   P2_RESIDENCY_RISK              SMALLINT DEFAULT(70),
   P3_OCCUPATION_RISK             SMALLINT DEFAULT(70),
   P4_LEN_OF_REL_RISK             SMALLINT DEFAULT(70),
   P5_ACCT_TYPE_RISK              SMALLINT DEFAULT(70),
   C1_CORP_AGE_RISK               SMALLINT DEFAULT(70),
   C2_INDUSTRY_RISK               SMALLINT DEFAULT(70),
   C3_LEN_OF_REL_RISK             SMALLINT DEFAULT(70),
   C4_ACCT_TYPE_RISK              SMALLINT DEFAULT(70),
   
   -- Weights INDIVIDUAL calculation
   P1W NUMERIC(3,2) DEFAULT(0.25),
   P2W NUMERIC(3,2) DEFAULT(0.25),
   P3W NUMERIC(3,2) DEFAULT(0.40),
   P4W NUMERIC(3,2) DEFAULT(0),
   P5W NUMERIC(3,2) DEFAULT(0.10),

   -- Weights CORPORATE calculation
   C1W NUMERIC(3,2) DEFAULT(0.25),
   C2W NUMERIC(3,2) DEFAULT(0.45),
   C3W NUMERIC(3,2) DEFAULT(0.20),
   C4W NUMERIC(3,2) DEFAULT(0.10),

   -- Record info
   RUN_DT   DATE DEFAULT(GETDATE())
);


/***** Create a temporary account table with active accounts only *****/
SELECT   PRIMARY_CUSTOMER_ID,
         ACCOUNT_STATUS_CODE,
		 DATE_OPENED,
		 PRODUCT_SOURCE_TYPE_CODE
INTO     #ACCOUNTS
FROM     EDW_FULL_DUMP A
WHERE    EXISTS (SELECT 1 
                 FROM   T_DOMAIN_VALUE B
				 WHERE  DOMAIN_NAME_ID = 42
				        AND B.MAPPED_VALUE = 'A'
				        AND A.ACCOUNT_STATUS_CODE = B.DOMAIN_VALUE) -- Account Active Statuses
;


/***** Populate fields from Customer Table *****/
INSERT INTO T_KYC_RISK_SCORE (CUSTOMER_ID, 
                              CUSTOMER_NAME,
							  CUSTOMER_TYPE_CODE,
                              NATIONALITY_CODE, 
                              COUNTRY_OF_RESIDENCE, 
                              OCCUPATION, 
                              ACQUISITION_DATE,
							  INCORPORATION_DATE,
							  PRIME_BRANCH_ID,
		                      CUSTOMER_STATUS_CODE,
							  BUSINESS_TYPE,
							  CORP_AGE_MTH
							  )
SELECT   C.CUSTOMER_ID,
         C.CUSTOMER_NAME,
		 C.CUSTOMER_TYPE_CODE,
         C.NATIONALITY_CODE,
         C.COUNTRY_OF_RESIDENCE,
         C.OCCUPATION,
         C.ACQUISITION_DATE,
		 C.INCORPORATION_DATE,
		 RIGHT('00000' + C.PRIME_BRANCH_ID,5) AS PRIME_BRANCH_ID,
		 C.CUSTOMER_STATUS_CODE,
		 C.BUSINESS_TYPE,
		 DATEDIFF(MONTH,C.INCORPORATION_DATE,GETDATE())
FROM     DETICA_CUSTOMERS C
WHERE    C.CUSTOMER_ID NOT IN ('4567-D','K0855353','xxxxxxxxxxxx')  --These three customer ID have duplicates
         AND C.CUSTOMER_STATUS_CODE = 'AC'  -- Customer Active Status
		 AND EXISTS (SELECT 1
		             FROM   #ACCOUNTS A
					 WHERE  A.PRIMARY_CUSTOMER_ID = C.CUSTOMER_ID)  -- Customer must have at least one active accounts
; 


/***** Update FCCM Occupation Code *****/
UPDATE T_KYC_RISK_SCORE
SET    FCCM_OCCUPATION = MAPPED_VALUE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, MAPPED_VALUE
		           FROM   T_DOMAIN_VALUE
				   WHERE  DOMAIN_NAME_ID = 22) B ON A.OCCUPATION = B.DOMAIN_VALUE;


/***** Update FCCM Industry Type *****/
UPDATE T_KYC_RISK_SCORE
SET    FCCM_INDUSTRY = MAPPED_VALUE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, MAPPED_VALUE
		           FROM   T_DOMAIN_VALUE
				   WHERE  DOMAIN_NAME_ID = 25) B ON A.BUSINESS_TYPE = B.DOMAIN_VALUE;


/***** Update Account Open Date *****/
UPDATE T_KYC_RISK_SCORE
SET    DATE_OPENED = MIN_DATE_OPENED
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT   PRIMARY_CUSTOMER_ID, 
                            MIN(DATE_OPENED) AS MIN_DATE_OPENED
		           FROM     #ACCOUNTS
				   GROUP BY PRIMARY_CUSTOMER_ID) B ON A.CUSTOMER_ID = B.PRIMARY_CUSTOMER_ID;


/***** Update Length of Relationship in Months *****/
UPDATE T_KYC_RISK_SCORE
SET    LEN_OF_REL_MTH = DATEDIFF(MONTH,ISNULL(ACQUISITION_DATE,DATE_OPENED),GETDATE());


/***** Update Multiple Account Types *****/
UPDATE T_KYC_RISK_SCORE
SET    PRODUCT_SOURCE_TYPE_CODE = 'MULTIPLE',
       FCCM_ACCT_TYPE = 'MULTIPLE'
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT   PRIMARY_CUSTOMER_ID,
                            COUNT(DISTINCT PRODUCT_SOURCE_TYPE_CODE) AS NUM_ACCT_TYPE
		           FROM     #ACCOUNTS
				   GROUP BY PRIMARY_CUSTOMER_ID
                   HAVING   COUNT(DISTINCT PRODUCT_SOURCE_TYPE_CODE) > 1) B ON A.CUSTOMER_ID = B.PRIMARY_CUSTOMER_ID;


/***** Update Single Account Type *****/
UPDATE T_KYC_RISK_SCORE
SET    PRODUCT_SOURCE_TYPE_CODE = SINGLE_ACCT_TYPE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT   DISTINCT PRIMARY_CUSTOMER_ID, PRODUCT_SOURCE_TYPE_CODE AS SINGLE_ACCT_TYPE
		           FROM     DETICA_ACCOUNTS) B ON A.CUSTOMER_ID = B.PRIMARY_CUSTOMER_ID
WHERE  PRODUCT_SOURCE_TYPE_CODE IS NULL;


/***** Update FCCM Account Type *****/
UPDATE T_KYC_RISK_SCORE
SET    FCCM_ACCT_TYPE = MAPPED_VALUE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, MAPPED_VALUE
		           FROM   T_DOMAIN_VALUE
				   WHERE  DOMAIN_NAME_ID = 23) B ON A.PRODUCT_SOURCE_TYPE_CODE = B.DOMAIN_VALUE;


/***** Update Citizenship Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    P1_CITIZENSHIP_RISK = RISK_SCORE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, RISK_SCORE
		           FROM   T_DOMAIN_VALUE
				   WHERE  DOMAIN_NAME_ID = 2) B ON A.NATIONALITY_CODE = B.DOMAIN_VALUE;


/***** Update Residency Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    P2_RESIDENCY_RISK = RISK_SCORE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, RISK_SCORE
		           FROM   T_DOMAIN_VALUE
				   WHERE  DOMAIN_NAME_ID = 2) B ON A.COUNTRY_OF_RESIDENCE = B.DOMAIN_VALUE;


/***** Update Occupation Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    P3_OCCUPATION_RISK = RISK_SCORE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, RISK_SCORE
		           FROM   T_DOMAIN_VALUE
			       WHERE  DOMAIN_NAME_ID = 6) B ON A.FCCM_OCCUPATION = B.DOMAIN_VALUE;


/***** Update Occupation Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    P3_OCCUPATION_RISK = RISK_SCORE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, RISK_SCORE
		           FROM   T_DOMAIN_VALUE
			       WHERE  DOMAIN_NAME_ID = 6) B ON A.FCCM_OCCUPATION = B.DOMAIN_VALUE
;


/***** Update Length of Relationship Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    C3_LEN_OF_REL_RISK = CASE WHEN LEN_OF_REL_MTH BETWEEN 0 AND 12 THEN 80
                                 WHEN LEN_OF_REL_MTH BETWEEN 13 AND 36 THEN 50
							     WHEN LEN_OF_REL_MTH >= 37 THEN 20 
								 ELSE 70 END;


/***** Update Account Type Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    P5_ACCT_TYPE_RISK = MAX_ACCT_TYPE_RISK, C4_ACCT_TYPE_RISK = MAX_ACCT_TYPE_RISK
FROM   T_KYC_RISK_SCORE M
       INNER JOIN (SELECT A.PRIMARY_CUSTOMER_ID, MAX(C.RISK_SCORE) AS MAX_ACCT_TYPE_RISK
                   FROM   DETICA_ACCOUNTS A
                          INNER JOIN (SELECT DOMAIN_VALUE, MAPPED_VALUE
		                              FROM   T_DOMAIN_VALUE
				                      WHERE  DOMAIN_NAME_ID = 23) B ON A.PRODUCT_SOURCE_TYPE_CODE = B.DOMAIN_VALUE
                          INNER JOIN (SELECT DOMAIN_VALUE, RISK_SCORE
		                              FROM   T_DOMAIN_VALUE
					                  WHERE  DOMAIN_NAME_ID = 10) C ON B.MAPPED_VALUE = C.DOMAIN_VALUE
                   GROUP BY A.PRIMARY_CUSTOMER_ID) N ON M.CUSTOMER_ID = N.PRIMARY_CUSTOMER_ID;


/***** Update Corporate Age Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    C1_CORP_AGE_RISK = CASE WHEN CORP_AGE_MTH BETWEEN 0 AND 12 THEN 80
                               WHEN CORP_AGE_MTH BETWEEN 13 AND 36 THEN 50
							   WHEN CORP_AGE_MTH >= 37 THEN 20 
							   ELSE 70 END;


/***** Update Industry Risk *****/
UPDATE T_KYC_RISK_SCORE
SET    C2_INDUSTRY_RISK = RISK_SCORE
FROM   T_KYC_RISK_SCORE A
       INNER JOIN (SELECT DOMAIN_VALUE, RISK_SCORE
		           FROM   T_DOMAIN_VALUE
			       WHERE  DOMAIN_NAME_ID = 4) B ON A.FCCM_INDUSTRY = B.DOMAIN_VALUE;


/***** Calculate risk parameters *****/
UPDATE T_KYC_RISK_SCORE
SET    P1_RISK = (P1_CITIZENSHIP_RISK * P1W),
       P2_RISK = (P2_RESIDENCY_RISK * P2W),
	   P3_RISK = (P3_OCCUPATION_RISK * P3W),
	   P4_RISK = (P4_LEN_OF_REL_RISK * P4W),
	   P5_RISK = (P5_ACCT_TYPE_RISK * P5W)
WHERE  CUSTOMER_TYPE_CODE = 'P';

UPDATE T_KYC_RISK_SCORE
SET    C1_RISK = (C1_CORP_AGE_RISK * C1W),
       C2_RISK = (C2_INDUSTRY_RISK * C2W),
	   C3_RISK = (C3_LEN_OF_REL_RISK * C3W),
	   C4_RISK = (C4_ACCT_TYPE_RISK * C4W)
WHERE  CUSTOMER_TYPE_CODE = 'C';


/***** Calculate risk scores *****/
UPDATE T_KYC_RISK_SCORE
SET    KYC_RISK_SCORE =  (P1_RISK + P2_RISK + P3_RISK + P4_RISK + P5_RISK)
WHERE  CUSTOMER_TYPE_CODE = 'P';

UPDATE T_KYC_RISK_SCORE
SET    KYC_RISK_SCORE = (C1_RISK + C2_RISK + C3_RISK + C4_RISK)
WHERE  CUSTOMER_TYPE_CODE = 'C';


/***** Update KYC Risk Rating *****/
UPDATE T_KYC_RISK_SCORE
SET    KYC_RISK_RATING = CASE WHEN CUSTOMER_TYPE_CODE = 'P' AND (P1_CITIZENSHIP_RISK = 100 OR
                                   P2_RESIDENCY_RISK = 100 OR
                                   P3_OCCUPATION_RISK = 100 OR
                                   P5_ACCT_TYPE_RISK = 100) THEN 'H'
							  WHEN CUSTOMER_TYPE_CODE = 'C' AND (C1_CORP_AGE_RISK = 100 OR
                                   C2_INDUSTRY_RISK = 100 OR
                                   C3_LEN_OF_REL_RISK = 100 OR
                                   C4_ACCT_TYPE_RISK = 100) THEN 'H'
                              WHEN KYC_RISK_SCORE >= 55 THEN 'H'
		                      WHEN KYC_RISK_SCORE BETWEEN 35 AND 54 THEN 'M'
		                      WHEN KYC_RISK_SCORE <= 34 THEN 'L' END;

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

DROP TABLE T_KYC_RISK_SCORE_SUMMARY;

SELECT   CUSTOMER_TYPE_CODE,
         CUSTOMER_STATUS_CODE,
         KYC_RISK_SCORE,
         KYC_RISK_RATING,
         P1_RISK,
         P2_RISK,
         P3_RISK,
         P4_RISK,
         P5_RISK,
         C1_RISK,
         C2_RISK,
         C3_RISK,
         C4_RISK,
         NATIONALITY_CODE,
         COUNTRY_OF_RESIDENCE,
         OCCUPATION,
         FCCM_OCCUPATION,
         BUSINESS_TYPE,
         FCCM_INDUSTRY,
         PRODUCT_SOURCE_TYPE_CODE,
         FCCM_ACCT_TYPE,
         P1_CITIZENSHIP_RISK,
         P2_RESIDENCY_RISK,
         P3_OCCUPATION_RISK,
         P4_LEN_OF_REL_RISK,
         P5_ACCT_TYPE_RISK,
         C1_CORP_AGE_RISK,
         C2_INDUSTRY_RISK,
         C3_LEN_OF_REL_RISK,
         C4_ACCT_TYPE_RISK,
         P1W,
         P2W,
         P3W,
         P4W,
         P5W,
         C1W,
         C2W,
         C3W,
         C4W,
         COUNT(CUSTOMER_ID) AS COUNT_CUST
INTO     T_KYC_RISK_SCORE_SUMMARY
FROM	 T_KYC_RISK_SCORE
GROUP BY CUSTOMER_TYPE_CODE,
         CUSTOMER_STATUS_CODE,
         KYC_RISK_SCORE,
         KYC_RISK_RATING,
         P1_RISK,
         P2_RISK,
         P3_RISK,
         P4_RISK,
         P5_RISK,
         C1_RISK,
         C2_RISK,
         C3_RISK,
         C4_RISK,
         NATIONALITY_CODE,
         COUNTRY_OF_RESIDENCE,
         OCCUPATION,
         FCCM_OCCUPATION,
         BUSINESS_TYPE,
         FCCM_INDUSTRY,
         PRODUCT_SOURCE_TYPE_CODE,
         FCCM_ACCT_TYPE,
         P1_CITIZENSHIP_RISK,
         P2_RESIDENCY_RISK,
         P3_OCCUPATION_RISK,
         P4_LEN_OF_REL_RISK,
         P5_ACCT_TYPE_RISK,
         C1_CORP_AGE_RISK,
         C2_INDUSTRY_RISK,
         C3_LEN_OF_REL_RISK,
         C4_ACCT_TYPE_RISK,
         P1W,
         P2W,
         P3W,
         P4W,
         P5W,
         C1W,
         C2W,
         C3W,
         C4W
;

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/


/***** Create a view V_KYC_RISK_SCORE with all the description *****/
DROP VIEW V_KYC_SCORE_INDIVIDUAL;

CREATE VIEW V_KYC_SCORE_INDIVIDUAL AS
SELECT   CUSTOMER_ID,
		 CUSTOMER_NAME,
		 CUSTOMER_TYPE_CODE,
		 PRIME_BRANCH_ID + ' - ' + UPPER(B.BRANCH) AS BRANCH,
		 CUSTOMER_STATUS_CODE,
		 KYC_RISK_SCORE,
		 KYC_RISK_RATING,
		 NATIONALITY_CODE + ' - ' + C.CITIZENSHIP_COUNTRY AS CITIZENSHIP,
		 COUNTRY_OF_RESIDENCE + ' - ' + D.RESIDENCE_COUNTRY AS RESIDENCE,
		 OCCUPATION + ' - ' + E.DETICA_OCCUPATION AS DETICA_OCCUPATION,
		 FCCM_OCCUPATION + ' - ' + G.FCCM_OCCUPATION_DESC AS FCCM_OCCUPATION,
		 ACQUISITION_DATE,
		 DATE_OPENED,
		 LEN_OF_REL_MTH,
		 PRODUCT_SOURCE_TYPE_CODE + ' - ' + F.DETICA_ACCT_TYPE AS DETICA_ACCT_TYPE,
		 FCCM_ACCT_TYPE + ' - ' + H.FCCM_ACCT_TYPE_DESC AS FCCM_ACCT_TYPE,
		 P1_CITIZENSHIP_RISK,
		 P1_RISK,
		 P1W,
		 P2_RESIDENCY_RISK,
		 P2_RISK,
		 P2W,
		 P3_OCCUPATION_RISK,
		 P3_RISK,
		 P3W,
		 P4_LEN_OF_REL_RISK,
		 P4_RISK,
		 P4W,
		 P5_ACCT_TYPE_RISK,
		 P5_RISK,
         P5W,
		 RUN_DT

FROM     T_KYC_RISK_SCORE A

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS BRANCH
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 33) B ON B.DOMAIN_VALUE = A.PRIME_BRANCH_ID

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS CITIZENSHIP_COUNTRY
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 1) C ON C.DOMAIN_VALUE = A.NATIONALITY_CODE

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS RESIDENCE_COUNTRY
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 1) D ON D.DOMAIN_VALUE = A.COUNTRY_OF_RESIDENCE

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS DETICA_OCCUPATION
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 22) E ON E.DOMAIN_VALUE = A.OCCUPATION

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS DETICA_ACCT_TYPE
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 23) F ON F.DOMAIN_VALUE = A.PRODUCT_SOURCE_TYPE_CODE

		 LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS FCCM_OCCUPATION_DESC
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 6) G ON G.DOMAIN_VALUE = A.FCCM_OCCUPATION

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS FCCM_ACCT_TYPE_DESC
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 10) H ON H.DOMAIN_VALUE = A.FCCM_ACCT_TYPE

WHERE    CUSTOMER_TYPE_CODE = 'P';         


/***** View for Corporate Risk *****/   
--DROP VIEW V_KYC_SCORE_CORPORATE;

CREATE VIEW V_KYC_SCORE_CORPORATE AS
SELECT   CUSTOMER_ID,
		 CUSTOMER_NAME,
		 CUSTOMER_TYPE_CODE,
		 PRIME_BRANCH_ID + ' - ' + UPPER(B.BRANCH) AS BRANCH,
		 CUSTOMER_STATUS_CODE,
		 KYC_RISK_SCORE,
		 KYC_RISK_RATING,
		 BUSINESS_TYPE + ' - ' + E.DETICA_INDUSTRY AS DETICA_INDUSTRY,
		 FCCM_INDUSTRY + ' - ' + G.FCCM_INDUSTRY_DESC AS FCCM_INDUSTRY,
		 INCORPORATION_DATE,
		 CORP_AGE_MTH,
		 ACQUISITION_DATE,
		 DATE_OPENED,
		 PRODUCT_SOURCE_TYPE_CODE + ' - ' + F.DETICA_ACCT_TYPE AS DETICA_ACCT_TYPE,
		 FCCM_ACCT_TYPE + ' - ' + FCCM_ACCT_TYPE_DESC AS FCCM_ACCT_TYPE,
		 C1_CORP_AGE_RISK,
		 C1_RISK,
		 C1W,
         C2_INDUSTRY_RISK,
		 C2_RISK,
		 C2W,
		 C3_LEN_OF_REL_RISK,
		 C3_RISK,
		 C3W,
		 C4_ACCT_TYPE_RISK,
		 C4_RISK,
		 C4W,
		 RUN_DT

FROM     T_KYC_RISK_SCORE A

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS BRANCH
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 33) B ON B.DOMAIN_VALUE = A.PRIME_BRANCH_ID

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS DETICA_INDUSTRY
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 25) E ON E.DOMAIN_VALUE = A.BUSINESS_TYPE

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS DETICA_ACCT_TYPE
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 23) F ON F.DOMAIN_VALUE = A.PRODUCT_SOURCE_TYPE_CODE

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS FCCM_INDUSTRY_DESC
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 4) G ON G.DOMAIN_VALUE = A.FCCM_INDUSTRY

         LEFT JOIN (SELECT DOMAIN_VALUE, DOMAIN_VALUE_DESC AS FCCM_ACCT_TYPE_DESC
		            FROM   T_DOMAIN_VALUE
					WHERE  DOMAIN_NAME_ID = 10) H ON H.DOMAIN_VALUE = A.FCCM_ACCT_TYPE

WHERE    CUSTOMER_TYPE_CODE = 'C';         


/******************************************************************************
Review invalid values
*******************************************************************************/

SELECT   DISTINCT NATIONALITY_CODE
FROM     T_KYC_RISK_SCORE
WHERE    P1_CITIZENSHIP_RISK = 70;
 
SELECT   DISTINCT COUNTRY_OF_RESIDENCE
FROM     T_KYC_RISK_SCORE
WHERE    P2_RESIDENCY_RISK = 70;

SELECT   DISTINCT OCCUPATION, FCCM_OCCUPATION
FROM     T_KYC_RISK_SCORE
WHERE    P3_OCCUPATION_RISK = 70;

SELECT   DISTINCT ACQUISITION_DATE, DATE_OPENED, LEN_OF_REL_MTH
FROM     T_KYC_RISK_SCORE
WHERE    C3_LEN_OF_REL_RISK = 70;

SELECT   DISTINCT BUSINESS_TYPE, FCCM_INDUSTRY
FROM     T_KYC_RISK_SCORE
WHERE    C2_INDUSTRY_RISK = 70;

SELECT   DISTINCT INCORPORATION_DATE, CORP_AGE_MTH
FROM	 T_KYC_RISK_SCORE
WHERE    C1_CORP_AGE_RISK = 70;

SELECT   DISTINCT PRODUCT_SOURCE_TYPE_CODE, FCCM_ACCT_TYPE
FROM     T_KYC_RISK_SCORE
WHERE	 P5_ACCT_TYPE_RISK = 70 OR C4_ACCT_TYPE_RISK = 70;        
